<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/jquery-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/chat.js"></script>
</head>
<body>
	<h1>CoolPaint chat, bitches</h1>
	<div id="chat-app">
		<textarea id="chat-text-area" rows="5" cols="50"></textarea>
		<br>
		<input id="chat-post-button" type="submit" value="Post">
		<ul id="message-list"></div>
</body>
</html>
