<!DOCTYPE html>
<html>

	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script data-main="javascripts/main.js" 
	            src="javascripts/rawLibraries/require.js">
	    </script>
	</head>

	<body>
		<div id="view-login">
			<img src="/images/Coolpaint.png" id="loginLogo">
			<input id="nameBox" type="box" value="Username" onclick = "this.value = '';">
			<input id="loginButton" type="submit" value="Login">
		</div>
		<div id="view-canvas">
			<img src="/images/Coolpaint.png" id="coolpaintLogo">		
			<div id="corner"></div>
			<div id="title"></div>
			<div id="left side">
				<div id="chatWindow">
					<div>
						<ul id="message-list">
					</div>
					<input type="text" id="chat-text-area">
				</div>
				<div id="buttonHolder">
					<img src="/images/pencilUp.png" id="pencilButton">
					<img src="/images/handUp.png" id="handButton">
					<img src="/images/textUp.png" id="textButton">
					<img src="/images/shapesUp.png" id="shapesButton">
				</div>
			</div>
			<div id="canvas">
			<canvas id="my-canvas" width="986" height="586"></canvas>
			</div>
		</div>
	</body>

</html>