<!DOCTYPE html>
<html>

	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script data-main="javascripts/main.js" 
	            src="javascripts/rawLibraries/require.js">
	    </script>
	</head>

	<body>
		<div id="view-login">
			<img src="/images/Coolpaint.png" id="loginLogo">
			<input id="nameBox" type="box" value="Username" onclick = "this.value = '';">
			<input id="loginButton" type="submit" value="Login">
		</div>
		<div id="view-canvas">
			<img src="/images/Coolpaint.png" id="coolpaintLogo">		
			<div id="corner"></div>
			<div id="title"></div>
			<div id="connectedUsersBox">
				<div id="userBoxTitle">Friends:</div>
				<ul id="connectedUsers"></ul>
			</div>
			<div id="left side">
				<div id="chatWindow">
					<div>
						<ul id="message-list">
					</div>
					<input type="text" id="chat-text-area">
				</div>
				<div id="buttonHolder">
					<img src="/images/pencilUp.png" id="pencilButton">
					<img src="/images/handUp.png" id="handButton">
				</div>
			</div>
			<div id="optionButtons"></div>
			<div id="menuButtons">
				<img src="/images/rasta.png" id="rastaButton">
				<img src="/images/clearCanvas.png" id="clearCanvasButton">
			</div>
			<div id="canvas-container">
				<canvas id="my-canvas" width="986" height="586"></canvas>
			</div>
			<div id = "hiddenOptionButtons">
				<!-- <div id="colorPickerWrapper" class="option"> -->
					<input type="color" class="color option" id="colorPicker">
				<!-- </div> -->
				<img src="/images/connectUp.png" id="connectButton" class="option">
				<img src="/images/width2.png" id="widthButton" class="option">
			</div>
		</div>
	</body>

</html>