<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script data-main="javascripts/main.js" 
            src="javascripts/rawLibraries/require.js">
    </script>
</head>

<body>
<!-- 	<h1>CoolPaint chat, bitches</h1>
	<div id="chat-app">
		<textarea id="chat-text-area" rows="5" cols="50"></textarea>
		<br>
		<input id="chat-post-button" type="submit" value="Post">
		<ul id="message-list"></div> -->
	<img src="/images/Coolpaint.png" id="coolpaintLogo">		
	<div id="corner"></div>
	<div id="title"></div>
	<div id="left side">
		<div id="chatWindow">
			<div>
				<ul id="message-list">
			</div>
			<input type="text" id="chat-text-area">
		</div>
		<div id="buttonHolder">
			<img src="/images/pencil.png" id="pencilButton">
			<img src="/images/text.png" id="textButton">
			<img src="/images/shapes.png" id="shapesButton">
		</div>
	</div>
	<div id="canvas"> </div>

</body>

</html>