<!DOCTYPE html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-main="javascripts/main.js" 
            src="javascripts/rawLibraries/require.js">
    </script>
  </head>

  <body>
    <div id="controls">
    	<button id="drawing-mode">Drawing Mode</button>
    	<button id="clear-canvas">Clear Canvas</button>
    	<button id="rect">Add Rectangle</button>
    	<button id="circle">Add Circle</button>
    	<button id="triangle">Add Triangle</button>
    	<button id="text">Add Text</button>
    </div>
    <canvas id="my-canvas" width="800" height="600"></canvas>  
  </body>
  
</html>