<!DOCTYPE html>
	<head>
		<title>CoolPaint</title>
		<script src="http://fabricjs.com/js/master.js"></script>
    	<script src="http://fabricjs.com/lib/fabric.js"></script>
    	<!--<script src="../public/javascripts/coolpaint.js"></script>-->
    </head>
    <body>

    <canvas id="my-canvas" width="800" height="600"></canvas>
    
    <script>
    
    		var canvas = new fabric.Canvas('my-canvas');
canvas.observe('mouse:down', function(e) { mousedown(e); });
canvas.observe('mouse:move', function(e) { mousemove(e); });
canvas.observe('mouse:up', function(e) { mouseup(e); });

var started = false;
var x = 0;
var y = 0;




/* Mousedown */
function mousedown(e) {
    canvas.calcOffset();
    started = true;
    x = e.e.x;
    y = e.e.y;
    console.log("new rectangle: (" + x + ", " + y + ")");
    var square = new fabric.Rect({ 
        width: 0, 
        height: 0, 
        left: x, 
        top: y, 
        fill: '#000'
    });

    canvas.add(square); 
    canvas.renderAll();

    canvas.setActiveObject(square); 

}


/* Mousemove */
function mousemove(e) {
    if(!started) {
        return false;
    }
    canvas.calcOffset();
	console.log("mouse x: " + e.e.x + ", y: " + e.e.y + ", rect x: " + x + ", y: " + y);
    var posX = e.e.x;
    var posY = e.e.y;;
	var left = Math.min(x, posX);
	var top = Math.min(y, posY);
	var right = Math.max(x, posX);
	var bot = Math.max(y, posY);
	var w = right - left;
	var h = bot - top;
	var centerX = left + w/2;
	var centerY = top + h/2;
	//console.log("w: " + w + ", h: " + h + ", x: " + x + ", y: " + y);

    if (!w || !h) {
        return false;
        console.log("false");
    }

    var square = canvas.getActiveObject(); 
	
    square.set('left',centerX).set('top', centerY).set('width', w).set('height', h);
	canvas.calcOffset();
    canvas.renderAll(); 
	canvas.calcOffset();
}

/* Mouseup */
function mouseup(e) {
    if(started) {
        started = false;
    }

    var square = canvas.getActiveObject();

    canvas.add(square); 
    canvas.calcOffset();
    canvas.renderAll();
    canvas.calcOffset();
 } 
    </script>
    </body>
</html>